{% extends "cooking/base.html" %}
{% load blog_tags %}

{% block title %}
{{ title }}
{% endblock %}

{% block main %}
<div class="container" style="margin-top: 150px; margin-bottom: 150px;">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-sm rounded-4">
                <div class="card-body">
                    <h2 class="text-center mb-4">Змінити пароль</h2>
                    <form method="post">
                        {% csrf_token %}

                        {% for field in form %}
                            <div class="form-group mb-4">
                                <label class="form-label fw-semibold mb-1">{{ field.label }}</label>
                                {{ field }}
                            </div>
                        {% endfor %}

                        <button type="submit" class="btn btn-dark w-100">Змінити пароль</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock main %}
